%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag(password_resets_path) do
        / %form
        %header
          %h1 Reset Your Password
        %fieldset.form-group
          = label_tag(:password, "New Password")
          / %label New Password
          .row
            .col-sm-4
              = password_field_tag(:password, nil, class: "form-control")
              / = text_field_tag(:password, nil, class: "form-control", type: "password")
              = hidden_field_tag(:token, @token)
              / %input.form-control(type="password")
        %fieldset.form-group.action
          = submit_tag("Reset Password", class: "btn btn-default")
          / %input(type="submit" value="Reset Password" class="btn btn-default")
